@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-dotted-line {
  background-image: linear-gradient(to bottom, #6b7280 60%, transparent 40%);
  background-size: 1px 8px;
}

.p-4{
  background-color: #000000;
}


.chat-bubble-bot {
  @apply relative bg-zinc-800 p-4 rounded-xl;
}



.chat-bubble-user {
  @apply relative bg-zinc-800 p-3 rounded-xl self-end;
}

/* Thêm vào cuối file */
.bg-dashed-horizontal {
  background-image: linear-gradient(to right, #4b5563 60%, transparent 40%);
  background-size: 8px 1px; /* Mỗi đoạn dài 8px, cao 1px */
}

/* Thêm vào cuối file */

.tooltip-with-tail {
  @apply relative;
}


.bg-zinc-800.p-4.flex.items-center.gap-x-4.flex-row-reverse{
  background-color: var(--color-zinc-800)!important;
  @apply rounded-tl-2xl rounded-tr-2xl rounded-bl-2xl rounded-br-[70px]
}

.text-blue-500{
  color: #8ABFEF!important;
}

/*Chat bot*/

.relative.aspect-square.max-w-md.mx-auto .object-contain.z-10{
  position: relative!important;

}
.bg-dashed-horizontal {
  background-image: linear-gradient(to right, #4b5563 60%, transparent 40%);
  background-size: 8px 1px; /* Mỗi đoạn dài 8px, cao 1px */
}






